<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Group</th>
			<th>Email</th>
			<th>Telephone</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<%= render @contacts %>
</table>

</br>
<div class = "form-group">
	<%= link_to "New Contact", new_contact_path, class: "btn btn-success col-md-2 col-md-offset-7" %>
	<%= link_to "New Group", new_group_path, class: "btn btn-success col-md-2 col-md-offset-1" %>
</div>