<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>

	<%= render @contacts %>
</table>

</br>
<%= link_to "New Person", new_contact_path, class: "btn btn-default" %>